<section class="cards">
    <a class="card" routerLink="/characters">
        <img  src="/assets/img/option_1.webp" alt="">
        <h2 class="card-title">PERSONAJES</h2>
    </a>
    <a class="card" routerLink="/films">
        <img  src="/assets/img/option_2.jpeg" alt="">
        <h2 class="card-title">PELICULAS</h2>
    </a>
    <a class="card" routerLink="/species">
        <img  src="/assets/img/option_3.jpg" alt="">
        <h2 class="card-title">ESPECIES</h2>
    </a>
    <a class="card" href="">
        <img  src="/assets/img/option_4.jpg" alt="">
        <h2 class="card-title">NAVES</h2>
    </a>
    <a class="card" href="">
        <img  src="/assets/img/option_5.jpg" alt="">
        <h2 class="card-title">VEHICULO</h2>
    </a>
    <a class="card" href="">
        <img  src="/assets/img/option_6.png" alt="">
        <h2 class="card-title">PLANETAS</h2>
    </a>

</section>